@import '../../base';

.login {
  height: 100vh;
  display: grid;

  place-items: center;

  &__container {
    background-color: $black-secondary;
    padding: 2rem;
    margin: 0 1rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;

    button {
      padding: 0.7rem;
      border: none;
      border-radius: 20px;
      margin-bottom: 1rem;
      &:focus {
        outline: none;
      }
    }
    .BottomText {
      color: REd;
      font-size: 0.9rem;
      margin-bottom: 0.2rem;
    }
  }

  img {
    width: 130px;
    height: 130px;
    object-fit: contain;
  }
}

@media (max-width: $breakpoint-small) {
  .login {
    &__container {
      border: $black-primary 10px solid;
      margin: 0rem;
    }
  }
}
